Step Functions/traffic-pipeline.json
{
  "Comment": "Smart City Traffic Pipeline: Crawl Silver→Silver→Gold→Crawl 4 Gold Tables",
  "StartAt": "Crawl Silver Traffic",
  "States": {
    "Crawl Silver Traffic": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
      "Parameters": {
        "Name": "crawler-silver-traffic-events"
      },
      "ResultPath": "$.silverCrawlerStart",
      "Retry": [
        {
          "ErrorEquals": ["Glue.CrawlerRunningException"],
          "IntervalSeconds": 30,
          "MaxAttempts": 3,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.errorInfo",
          "Next": "Notify Failure"
        }
      ],
      "Next": "Wait for Silver Crawler"
    },
    "Wait for Silver Crawler": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "Check Silver Crawler Status"
    },
    "Check Silver Crawler Status": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:glue:getCrawler",
      "Parameters": {
        "Name": "crawler-silver-traffic-events"
      },
      "ResultPath": "$.silverCrawlerStatus",
      "Next": "Is Silver Crawler Done"
    },
    "Is Silver Crawler Done": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.silverCrawlerStatus.Crawler.State",
          "StringEquals": "RUNNING",
          "Next": "Wait for Silver Crawler"
        },
        {
          "Variable": "$.silverCrawlerStatus.Crawler.State",
          "StringEquals": "READY",
          "Next": "Silver to Gold Job"
        }
      ],
      "Default": "Notify Failure"
    },
    "Silver to Gold Job": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "traffic-silver-to-gold"
      },
      "ResultPath": "$.silverToGoldResult",
      "TimeoutSeconds": 1800,
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 30,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.errorInfo",
          "Next": "Notify Failure"
        }
      ],
      "Next": "Crawl Gold Hourly Interactions"
    },
    "Crawl Gold Hourly Interactions": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
      "Parameters": {
        "Name": "crawler-gold-traffic-hourly-interactions"
      },
      "ResultPath": "$.goldCrawler1Start",
      "Retry": [
        {
          "ErrorEquals": ["Glue.CrawlerRunningException"],
          "IntervalSeconds": 30,
          "MaxAttempts": 3,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.errorInfo",
          "Next": "Notify Failure"
        }
      ],
      "Next": "Wait Gold Crawler 1"
    },
    "Wait Gold Crawler 1": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "Check Gold Crawler 1"
    },
    "Check Gold Crawler 1": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:glue:getCrawler",
      "Parameters": {
        "Name": "crawler-gold-traffic-hourly-interactions"
      },
      "ResultPath": "$.goldCrawler1Status",
      "Next": "Is Gold Crawler 1 Done"
    },
    "Is Gold Crawler 1 Done": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.goldCrawler1Status.Crawler.State",
          "StringEquals": "RUNNING",
          "Next": "Wait Gold Crawler 1"
        },
        {
          "Variable": "$.goldCrawler1Status.Crawler.State",
          "StringEquals": "READY",
          "Next": "Crawl Gold Daily Summary"
        }
      ],
      "Default": "Notify Failure"
    },
    "Crawl Gold Daily Summary": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
      "Parameters": {
        "Name": "crawler-gold-traffic-daily-summary"
      },
      "ResultPath": "$.goldCrawler2Start",
      "Retry": [
        {
          "ErrorEquals": ["Glue.CrawlerRunningException"],
          "IntervalSeconds": 30,
          "MaxAttempts": 3,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.errorInfo",
          "Next": "Notify Failure"
        }
      ],
      "Next": "Wait Gold Crawler 2"
    },
    "Wait Gold Crawler 2": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "Check Gold Crawler 2"
    },
    "Check Gold Crawler 2": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:glue:getCrawler",
      "Parameters": {
        "Name": "crawler-gold-traffic-daily-summary"
      },
      "ResultPath": "$.goldCrawler2Status",
      "Next": "Is Gold Crawler 2 Done"
    },
    "Is Gold Crawler 2 Done": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.goldCrawler2Status.Crawler.State",
          "StringEquals": "RUNNING",
          "Next": "Wait Gold Crawler 2"
        },
        {
          "Variable": "$.goldCrawler2Status.Crawler.State",
          "StringEquals": "READY",
          "Next": "Crawl Gold Incidents"
        }
      ],
      "Default": "Notify Failure"
    },
    "Crawl Gold Incidents": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
      "Parameters": {
        "Name": "crawler-gold-traffic-incidents"
      },
      "ResultPath": "$.goldCrawler3Start",
      "Retry": [
        {
          "ErrorEquals": ["Glue.CrawlerRunningException"],
          "IntervalSeconds": 30,
          "MaxAttempts": 3,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.errorInfo",
          "Next": "Notify Failure"
        }
      ],
      "Next": "Wait Gold Crawler 3"
    },
    "Wait Gold Crawler 3": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "Check Gold Crawler 3"
    },
    "Check Gold Crawler 3": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:glue:getCrawler",
      "Parameters": {
        "Name": "crawler-gold-traffic-incidents"
      },
      "ResultPath": "$.goldCrawler3Status",
      "Next": "Is Gold Crawler 3 Done"
    },
    "Is Gold Crawler 3 Done": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.goldCrawler3Status.Crawler.State",
          "StringEquals": "RUNNING",
          "Next": "Wait Gold Crawler 3"
        },
        {
          "Variable": "$.goldCrawler3Status.Crawler.State",
          "StringEquals": "READY",
          "Next": "Crawl Gold Congestion Trends"
        }
      ],
      "Default": "Notify Failure"
    },
    "Crawl Gold Congestion Trends": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
      "Parameters": {
        "Name": "crawler-gold-traffic-congestion-trends"
      },
      "ResultPath": "$.goldCrawler4Start",
      "Retry": [
        {
          "ErrorEquals": ["Glue.CrawlerRunningException"],
          "IntervalSeconds": 30,
          "MaxAttempts": 3,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.errorInfo",
          "Next": "Notify Failure"
        }
      ],
      "Next": "Wait Gold Crawler 4"
    },
    "Wait Gold Crawler 4": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "Check Gold Crawler 4"
    },
    "Check Gold Crawler 4": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:glue:getCrawler",
      "Parameters": {
        "Name": "crawler-gold-traffic-congestion-trends"
      },
      "ResultPath": "$.goldCrawler4Status",
      "Next": "Is Gold Crawler 4 Done"
    },
    "Is Gold Crawler 4 Done": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.goldCrawler4Status.Crawler.State",
          "StringEquals": "RUNNING",
          "Next": "Wait Gold Crawler 4"
        },
        {
          "Variable": "$.goldCrawler4Status.Crawler.State",
          "StringEquals": "READY",
          "Next": "Notify Success"
        }
      ],
      "Default": "Notify Failure"
    },
    "Notify Success": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:YOUR_REGION:YOUR_ACCOUNT_ID:smart-city-pipeline-success",
        "Subject": "✅ Traffic Pipeline Success",
        "Message.$": "States.Format('Traffic Pipeline completed!\n\n✅ Silver Crawler: Complete\n✅ Silver→Gold Job: {}\n✅ All 4 Gold Crawlers: Complete\n\nTimestamp: {}', $.silverToGoldResult.JobRunId, $$.State.EnteredTime)"
      },
      "End": true
    },
    "Notify Failure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:YOUR_REGION:YOUR_ACCOUNT_ID:smart-city-pipeline-failure",
        "Subject": "❌ Traffic Pipeline Failed",
        "Message.$": "States.Format('Traffic Pipeline FAILED!\n\n❌ Error: {}\n\nExecution: {}\nTimestamp: {}', $.errorInfo.Cause, $$.Execution.Name, $$.State.EnteredTime)"
      },
      "End": true
    }
  }
}